@background-color: #cecfce;

body {
  //min-height: 2000px;
  padding-top: 70px;
  background: #909090;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}


// -------- Event Panel -----------

.event-panels {
  padding-top: 200px;
}
.event-panel {
  background: @background-color;
  padding: 5px;
  position: relative;
  cursor: pointer;
  .event-animate;
  &:hover {
    background: darken(@background-color, 7%);
    -webkit-box-shadow: 10px 10px 13px -11px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 13px -11px rgba(0,0,0,1);
    box-shadow: 10px 10px 13px -11px rgba(0,0,0,1);
    //transition: all .2s ease-in-out;
    //transform: scale(1.02);
    .event-animate;
  }

  .logo {
    margin-bottom: 10px;
    img {
      margin: 0 auto;
    }
  }
  .content {
    padding: 19px;
    .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      p {
        margin: 0;
        font-size: 12px;
      }
      .full-action-name {

      }
    }

    .description {
      margin-bottom: 10px;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
    }

    .date {
      margin-bottom: 10px;
    }

    .time {
      margin-bottom: 10px;
    }

    .cost {
      width: 60px;
      height: 60px;
      background: white;
      border: 3px solid red;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      bottom: 10px;
      //box-shadow: inset 0 0 0 1px black;
      p {
        text-align: center;
        font-size: 11px;
        margin: 0;
      }
    }
  }
}

.event-animate {
  -webkit-transition: background 500ms linear;
  -moz-transition: background 500ms linear;
  -o-transition: background 500ms linear;
  -ms-transition: background 500ms linear;
  transition: background 500ms linear;
}

//@import "compass/css3";

*, *:before, *:after {box-sizing:  border-box !important;}


article {
  -moz-column-width: 282px;
  -webkit-column-width: 282px;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

section {
  display: inline-block;
  margin:  0.25rem;
  //padding:  1rem;
  width: 100%;
  background:  #efefef;
}


p {
  margin:  1rem 0;
}


// //-------- Event Panel -----------
