<nav class="navbar navbar-fixed-top navbar-inverse">
  <div>text</div>
  <div>text</div>
  <div>text</div>
  <div>text</div>
  <div>text</div>
  <div>text</div>
</nav>

<div class="container-full event-panels">
  <article>

    <section ng-repeat="action in vm.actionList">
      <div class="event-panel">
        <div class="logo">
          <img ng-src="{{action.smallPosterUrl}}" class="img-responsive"/>
        </div>
        <div class="content">
          <div class="title">
            <p class="action-name">{{action.actionName}}</p>
            <p class="full-action-name">{{action.fullActionName}}</p>
          </div>

          <div class="description">
            {{action.description}}
          </div>

          <div class="date">
            {{action.firstEventDate}} <span ng-if="action.lastEventDate">-</span>{{ action.lastEventDate}}
          </div>

          <div class="time">
            {{action.actionEventTime}}
          </div>

          <div class="rating" ng-if="action.rating">
            Рейтинг:<span ng-repeat="i in vm.getNumber(action.rating) track by $index">
              <img src="/images/star.png">
            </span>
          </div>

          <div class="cost">
            <p>от</p>
            <p>{{action.minSum}}</p>
            <p>рублей</p>
          </div>
        </div>
      </div>
    </section>

  </article>

</div>
